body {
  font-family: system-ui, "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.section1 {
  background-color: #1f2937;
  color: white;
  flex-direction: row;
}
/* header section */
.header-section {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 12px;
  opacity: 0.8;
}
.logo {
  font-weight: bold;
  font-size: 14px;
}

/* section 1 */

.hero-section {
  display: flex;
  align-items: center;
}

/* section 2 */
.section2 {
  display: flex;
  background-color: white;
  flex-direction: row;
  color: black;
}
.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.img {
  width: 70px;
  height: 70px;
  background-color: white;
  border: solid lightblue 3px;
  border-radius: 5%;
  flex-wrap: wrap;
}

/* section 3 */
.section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e5e7eb;
}
.info-section {
  display: flex;

  align-items: center;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  padding: 60px 110px;
}
/* section 4 */
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpSection {
  background-color: #3882f6;
  border-radius: 5%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}
/* footer */

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
